html {
    min-height: 100vh;
    font-family: Quicksand,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-variation-settings: 'wdth'400,
        'wght'600;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     /* user-select: none; */
}

/* * Clear placeholder text when focused */
input:focus::-webkit-input-placeholder {
    color: transparent;
}

/* * Fix red outline on FireFox */
input:invalid {
    -moz-mox-shadow: none;
    box-shadow: none;
}